[2017-12-30 12:00] danidask opened #1 "different behavior when it should be the same"
Hi,
I'm working in an app to upload a picture to a server, and I'm experimenting a weird behavior. In the flowing code, when I use filename1 inside data it crashes, but when I use filename2 it works flawlessly, but both should be the same. Is it something I did wrong or is a bug? (btw, when it crashes, how can i read the log or see whats going on?)

Thanks Victor for your work, awesome project!

[

[2018-01-02 16:43] victordiaz commented on #1
Hi @danidask, can you provide me in a gist a server code sample?
I changed sometime ago the HTTP POST library and might be not well tested.

If you want to see the log, the best is to have ADB installed in your system
`adb logcat`

I will create a new issue to introduce a logging mechanism that writes up in a .log file

[2018-01-02 16:44] victordiaz opened #2 "log crashes in a .log file"
Add a logging mechanism that writes crash information in a .log file

[2018-01-04 13:56] danidask commented on #1
Ok, this is the server's code, but you can test it even if there is no server listening.
https://gist.github.com/danidask/e6ad97fee659062cb5449d96038d1b85

[2018-01-15 02:56] victordiaz commented on #1
Apparently the Javascript Engine (Mozilla Rhino) has a different data type for a concat String. Adding toString seems to solve the problem 334bcc1d228214a5a382fb0266e28fcf598f3fe7

On the other side I included a logging mechanism https://github.com/victordiaz/phonk/issues/2

I'm going to fix a couple of things more and upload a new version in a couple of days. I will write you back here once ready

[2019-05-19 01:35] victordiaz opened #3 "Round icon on modern Android launchers"
Devices like Google Pixel show round icons in the launcher.
The current icon (squared) doesn't look nice inside the circle.

[2019-05-19 01:37] victordiaz opened #4 "Update the JS interpreter with something more modern"
Phonk uses Mozilla Rhino interpreter to execute the scripts as it binds very easily with Java.
Although it works quite nicely, it feels a bit old. There is no support of ES6 among other things.

Maybe somebody with experience out there? :)

[2019-05-19 01:39] victordiaz opened #5 "Add Continous Integration"
A basic workflow
- Check if project compiles
- Check if examples run without issues

would be more than enough

[2019-05-19 01:42] victordiaz opened #6 "Upload to F-droid"
I think Phonk fits quite nicely the requirements to be included in F-droid. I think it would be a very good channel to distribute it.
If there is somebody out there willing to include it to F-droid it would be neat.

**Note:**
Currently Phonk, needs 2 projects to work, the WebIde repo and this one (Android App). I guess it will have some implications for building the project for F-droid.

[2019-05-19 01:44] victordiaz opened #7 "Include a maningful icon in the notification area when the web server is running"
Right now is just a "square" dummy icon.

[2019-05-19 01:44] victordiaz opened #8 "Include examples in API browser"

[2019-05-19 01:51] victordiaz opened #9 "Create guide to compile projects into APK"
It is possible to wrap the scripts into an APK file for easy distribution. Not easy though.
If there is interest I will write a guide.

[2019-05-19 01:52] victordiaz opened #10 "Write wiki explaining the architecture basics and how to "extend" the API"

[2019-05-20 00:57] victordiaz opened #11 "Publish it on Google play"

[2019-05-21 22:46] victordiaz opened #12 "Create tutorials and/or showcases"
It would be great to create a few tutorials or script showcases that people can learn from and get inspired.

I could suggest something like:

- Simple videogame
- Musical instrument
- Small robot with an Arduino attached
- Controlling lights using MQTT

[2019-05-21 22:49] victordiaz opened #13 "Spreading the word about Phonk"
It would be nice so spread a bit the word about Phonk using certain websites and social networks. I'm not the greatest doing PR 😅 and somebody willing to help me on that would be supernice :)

[2019-07-02 14:37] #3 closed

[2019-07-02 14:40] victordiaz commented on #7
Included one in https://github.com/victordiaz/phonk/commit/52fa057fc42bd412e95976d6fd0591d3c1ce2b1e
Not the best, but better than a gray icon :)

[2019-07-02 14:40] #7 closed

[2019-10-09 12:08] ffranchina commented on #13
Hello @victordiaz! Thanks for working on this nice project!
I was a user of Protocoder some time ago and now I saw that the project has kind-of been shut down. It took me a lot to find Phonk, though: it has the same author (you), same aims, same UI but they appear as completely different projects and there's no link between the two.
As a first step for advertising Phonk, I would propose you to red

[2019-10-16 21:08] victordiaz commented on #13
Hi @ffranchina, thanks for using the project :)
Thanks for your suggestion! I'm finishing about to release the version 1.1 and right after it I will dedicate some time with the websites :)
- For now my first priority is to upload the project to F-droid and Google Play store. This later one has less priority since the last changes in the Play Store is forcing me to change a bit Phonk.
- And second

[2019-12-12 09:34] micfio commented on #9
Can provide me a detailed guide in order to convert phonk script to apk ?Thanks In Advance

[2020-06-17 00:45] victordiaz opened #17 "Add MQTT documentation"

[2020-06-20 12:24] victordiaz commented on #6
First atempt to upload to Fdroid:
[https://gitlab.com/fdroid/rfp/-/issues/1390](https://gitlab.com/fdroid/rfp/-/issues/1390)

There was lots of legacy code that used .jars and F-droid does not allow that. I started to update dependencies in the following branch
[https://github.com/victordiaz/phonk/tree/f-droid-preparation](https://github.com/victordiaz/phonk/tree/f-droid-preparation)

I stil have

[2020-06-20 17:47] victordiaz commented on #11
It is here [https://play.google.com/store/apps/details?id=io.phonk](https://play.google.com/store/apps/details?id=io.phonk)

[2020-06-20 17:47] #11 closed

[2020-06-20 17:51] victordiaz commented on #4
I did some experiments using [J2V8](https://github.com/eclipsesource/J2V8) and realized it would need a lot of effort to change it from Mozilla Rhino.

I think for now is not worth the time, so I close the issue.

[2020-06-20 17:53] victordiaz commented on #1
I close the issue. There is a lot of rework in the last release, maybe hopefully was fixed? :)

[2020-06-20 17:53] #1 closed

[2020-06-20 17:54] victordiaz commented on #6
Google Maven repo has to be changed to google(), updated top comment

[2020-06-20 20:10] victordiaz opened #18 "Add PHONK version on load and in About section"

[2020-06-26 00:03] marclava opened #19 "Add examples to assets folder"
I was able to compile the APK, but the examples are not included in the source code (in the assets folder, sot the compiled app has no examples available. Either include the examples to the source code or provide a method to add examples from a remote computer. (I would also like to get in touch with the developer(s) without writing github issues...)
Edit: I was able to copy the examples from the

[2020-06-26 11:56] victordiaz commented on #19
Hi @marclava
Thanks for pointing that out. It seems that I was pushing the examples to the wrong origin 😅
The examples are here [https://github.com/victordiaz/phonk-examples](https://github.com/victordiaz/phonk-examples)

I updated the [README](https://github.com/victordiaz/phonk) with instructions on how to build the project, since you have to add as well the web editor to the android project.

[2020-06-26 18:16] marclava commented on #19
Thanks for the precision and the README update; keeping parts in different git repos is fine, and maybe you can include them to the main app repo as git submodules.

I have so many questions and comments about Phonk that it'd be nice to have a place to chat about it (because this issue reporting system may not be the ideal communication channel). For example, I want to learn how to include new fea

[2020-06-26 19:10] victordiaz commented on #19
I'm happy to have a chat using a different channel, feel free to send me an e-mail and we figure it out. Just git log in the repo to see my mail.

[2020-06-29 10:08] victordiaz opened #20 "PHONK for background automation"
It was suggested if PHONK could automate things based on system events. I will play with the idea and open this issue to keep track of things

[2020-06-29 12:10] boriskohen opened #21 "title in buttons is not displayed"
it's appears only on devices with kitkat (android 4.4).
affected 1.2.0 and 1.2.2 versions. affected installation wizard and projects view.
![Screenshot_2020-06-29-15-57-47](https://user-images.githubusercontent.com/60200260/86003337-4a7f6380-ba1a-11ea-8351-cf66072937bc.png)

[2020-06-29 12:23] victordiaz commented on #21
Oh! thats interesting, I will have a look today.
What is the screen size? I will try to replicate it with an emulator

[2020-06-29 12:32] marclava commented on #4
It doesn't look like GrallJS (community version) is available for Android:
https://github.com/graalvm/graalvm-ce-builds/releases/tag/vm-20.1.0
But maybe it doesn't have to, I'm not a Java programmer...

Also, maybe Nashorn would be a good option (even if deprecated in JDK11):
https://en.wikipedia.org/wiki/Nashorn_(JavaScript_engine)
https://docs.oracle.com/javase/9/nashorn/JSNUG.pdf
https://wiki.o

[2020-06-29 13:11] boriskohen commented on #21
320x480px
3" size

[2020-06-29 21:19] victordiaz opened #22 "ARCore integration"
There is some suggestions to include ARCore into PHONK. That would be quite neat. Since the only way to add 3d is through Processing, maybe having a look on how Processing adds ARCore would be handy.

[2020-06-29 23:37] rpherman commented on #22
Thanks, I'll see if I can work on this. ARCore Depth just came out, and it's going to be a game-changer for AR in a lot ways. Phonk would make it much more accessible.

[2020-06-30 02:39] st0le opened #23 "Edit Script context menu option crashes the entire App"
I'm guessing it should pop up an app chooser to edit the file? But it seems to crash the app.

Using the Web Editor is a workaround.

[2020-06-30 07:34] st0le commented on #23
I tried it a couple of hours later and it seems to work fine. I don't know what fixed it.

Considering I can't repro, perhaps this can be closed.

[2020-06-30 07:50] victordiaz commented on #23
Hi @st0le,
1. Could you tell me about your device? Model, android version, etc?
2. Did you try to access the Editor right after installing the app?

[2020-06-30 09:47] victordiaz commented on #21
Hi @boriskohen

I think I fixed it, it seems that Android 4.4 didn't pick the "backgroundTint" property, so I changed to the standard "background"
I will do a new release this week with the changes

I will let you know when the new version is online so you can double check and close the issue

Thanks for pointing it out!

[2020-06-30 18:22] st0le commented on #23
1. Pixel 2 (small screen), Android 10.
2. Yes. I checked a couple of examples and then tried to view the code.

I tried clearing the cache/storage and could not repro.
I tried uninstall/install and still could not repro it.

[2020-06-30 19:09] victordiaz commented on #23
ok! I see!
I asked you about the model and if it was the first install because it happened to me the same once but then I was never able to replicate it.
I will close the issue then and if I ever see the bug again I will reopen it :)

Thanks for the info @st0le

[2020-07-01 10:19] danielzfranklin commented on #4
What about using Babel to transpile modern JavaScript to ES5? I think that's how greasemonkey solves this problem. Babel-standalone (https://babeljs.io/docs/en/babel-standalone) can run on a JavaScript interpreter and transform modern JavaScript into older JavaScript

[2020-07-01 14:28] victordiaz opened #25 "Theme change does not change style in new view additions"

[2020-07-01 21:15] victordiaz opened #26 "slider and knob with different behaviour"
- The slider moves exactly to the place you touch,
- Knob needs to touch and then move

I think the second should be the default for both view types but is nicer to have the option to change

[2020-07-01 21:16] victordiaz opened #27 "Add events on information box"
- [ ] XXX.XXX.XXX.XXX connected / disconnected
- [ ] load project
- [ ] save project
- [ ] start / stop server
- [ ] connection changed: WIFI / Celular

[2020-07-01 21:24] victordiaz commented on #4
@danielzfranklin that sounds very interesting.
I thought babel could only run using node but the standalone version could do the work!

I'd be happy to include it if it works

[2020-07-02 14:14] victordiaz commented on #4
I did a small test yesterday I couldn't use babel-standalone. When I load the library Rhino is kinda happy about it but then I dont see the Babel object instantiated.
Researching a bit in the internet, I did not find any person using it with Rhino :/

[2020-07-02 15:09] w-A-L-L-e commented on #9
Indeed this is only feature missing to make this a really nice useful app. Once you've got something that works for you it would be awesome to make it into a standalone apk to share...

[2020-07-02 15:43] victordiaz commented on #19
I close this issue since it was already resolved

[2020-07-02 15:43] #19 closed

[2020-07-02 16:26] nickmartin1ee7 opened #28 "Typo in Settings option"
In-App Settings show "hided" instead of "hidden"

1. Launch mobile app
2. Navigate to Settings
3. Under "Mask the Web Editor address" -> "The IP address will be **hided** as..."

![image](https://user-images.githubusercontent.com/58752614/86386035-35474680-bc5f-11ea-97bc-fe3cdd5c7022.png)

[2020-07-02 17:14] victordiaz commented on #28
thx for pointing it out @nickmartin1ee7
I'll fix it asap :)
Do not hesitate sending more typos, grammar or other type of errors in the app.

Much appreciated

[2020-07-02 17:57] victordiaz opened #29 "Video tutorials? suggestions?"
There is a few things that might be a bit difficult to grasp without a video tutorial, so I want to ask here if there is any request to make a tutorial or video tutorial of something in specific.
I start with this couple ideas as I've seen some interest and add more as requested

- [ ] Sound synth using LibPd (Pure Data)
- [ ] How to live-execute code

[2020-07-02 18:04] victordiaz commented on #9
I've seen an app called APDE that compiles on device. Which is super cool [https://github.com/Calsign/APDE](https://github.com/Calsign/APDE)
I think is a bit out my action range for now, but it would be very nice to have something like that :)

I'll write the "compiling guide" using a computer after I release the next version.

[2020-07-02 20:30] tinkercnc commented on #21
Same behavior on:
device
    type: phone
    manufacturer: OnePlus
    model name: A0001

screen
    brightness: 93
    screen: true
    orientation: portrait
    screen dpi: 480
    screen resolution: 1080 x 1920

Cyanogen OS
Android 4.4.4

Just FYI.

[2020-07-02 22:26] garydion commented on #21
I can also confirm it occurs on an Alcatel OneTouch running 4.4.4.  Additionally, the proceed buttons during installation were invisible.  These were the ones which were to say "Let's Go", "Ask Permissions", and "Install Examples".  But thanks to your "Getting Started" guide on the website, I knew where to tap.  Despite the bug, I'm already having a blast!

[2020-07-02 23:51] yaba opened #30 "Problem in phonk.app (trying to download via mobile)"
Main website, while on desktop, it's easy to click in "APK File", however, on mobile, opens the PNG itself, not the link.

[2020-07-02 23:55] #18 closed

[2020-07-02 23:55] #25 closed

[2020-07-03 00:00] victordiaz commented on #30
Mmm, thats funny :) which device / browser are you using?

[2020-07-03 00:03] victordiaz opened #31 "tablet layout alignments"
There is a few missalignments on tablets both vertical and horizontal
- Installing the app
- While on the main view

[2020-07-03 01:35] garydion commented on #17
Yes please!  I'm trying to get the example to work this evening and not having much luck.  This is the first example in Phonk I have run across that didn't just work (So kudos for that!).  But then, this is also the one example I've modified most heavily, and I'm new to JavaScript, so it's likely I broke something.  A little more documentation might help me out of this NullPointerException hole I'

[2020-07-03 09:22] SuperUserNameMan opened #32 "APK 1.2.x do not install on Android 4.1.2"
Hello,

I've just discovered your project which seems quite promising.

I'm testing it on an Acer Iconia B1-A71 tablet with Android 4.1.2. (CPU: MTK8317T dual-cores 1.2GHz ; RAM : 512MB ; Display : 1024x600 ).
Unfortunaltely, none of APK 1.2.x could be installed on this device.

Only APK 1.0.0 installed and works with some bugs, errors and a few crashes when I test the examples.

If you want to ex

[2020-07-03 10:03] victordiaz commented on #32
hi @SuperUserNameMan,

I'd be very happy. I think it can go to 4.1 easily but I doubt it would go lower than that. PHONK depends on the appcompat libs which requires > 4.1.
But as I said, any help on this regard is more than welcome. I would love to go to the lowest version possible :)

Could you tell me what happens when you try to install it in 4.1.2?

[2020-07-03 10:37] victordiaz commented on #23
I've had the same problem using an emulator.

It seems that the WebView component sometimes is not present in some devices > 5.0
[https://stackoverflow.com/questions/46048912/android-failed-to-load-webview-provider-no-webview-installed](https://stackoverflow.com/questions/46048912/android-failed-to-load-webview-provider-no-webview-installed)

I will remove the webview reference, since it's a bit o

[2020-07-03 11:53] #31 closed

[2020-07-03 12:05] victordiaz commented on #21
I just uploaded a new version, cand you check if buttons appear now? thanks :)

[2020-07-03 12:06] victordiaz commented on #28
its fixed in 1.2.3 already :)

[2020-07-03 12:06] #28 closed

[2020-07-03 12:07] victordiaz commented on #23
I think the About section should move to a real view rather than a WebView to prevent this problem too

[2020-07-03 13:16] tinkercnc commented on #21
Nope, for instance the    
Phonk Example Device info shows this:

![Screenshot_2020-07-03-15-03-08](https://user-images.githubusercontent.com/5290721/86472095-e53fb100-bd3e-11ea-8cd3-a6917b452ab7.png)

[2020-07-03 13:43] garydion commented on #21
I can confirm that the buttons now display correctly during install.  Though like tinkercnc, my application buttons are still all white like in his screen shot.

[2020-07-03 13:49] victordiaz commented on #21
Ok, it seems that there is something wrong :)
I have a device with 4.2 and dont get that problem :/
I'll have a deeper look tonight with the emulator

Thanks for checking

[2020-07-03 15:37] victordiaz commented on #21
I think I found the problem. Apparently devices < 5.0 don't like background with transparencies. So I made a small hack to use a color shader on Androids lower than 5.0

I uploaded a version here
[https://github.com/victordiaz/PHONK/releases/tag/1.2.4](https://github.com/victordiaz/PHONK/releases/tag/1.2.4)

Could you check it? Thanks :)

[2020-07-03 16:20] tinkercnc commented on #21
Yeah!
Yes it's working!
Great piece of software!

Thanks a lot!

[2020-07-03 16:41] garydion commented on #17
I've been playing a bit more and the MQTT functions work great with my local Mosquitto broker.  I can subscribe and publish to feeds.  But for some reason it doesn't seem to like the Adafruit.io broker, at least not with any of the permutations I've tried so far.  None of the MQTT commands (connect, subscribe, or publish) generate an error, so I'm afraid I don't have any debug info to offer.

[2020-07-03 16:43] Slord6 opened #33 "Lat and Lon mixed up on adding map marker"
https://github.com/victordiaz/PHONK/blob/9ae6a710ff830bab45be1da1e65c80a27b2c2d2a/phonk_apprunner/src/main/java/io/phonk/runner/apprunner/api/widgets/PMap.java#L283

The Lat and Lon parameters are backwards in this initalisation.
Docs [ref](https://osmdroid.github.io/osmdroid/javadocAll/org/osmdroid/util/GeoPoint.html)

Simple Repro:

[code]

[2020-07-03 17:32] wottomgauss opened #34 "Uncomfortably slow animation for new views"
This duration + delay timing is uncomfortably slow for some purposes, like when user is expecting a fast UI update with new buttons and text. Would appreciate some way to adjust these values.

https://github.com/victordiaz/PHONK/blob/d7bb34f68d8a15baf17c392fc6c09b5f711531da/phonk_apprunner/src/main/java/io/phonk/runner/apprunner/api/PViewsArea.java#L162

[2020-07-03 17:35] victordiaz commented on #33
You are totally right :)
I'll fix it and add it in the release of today, thanks for pointing it out

[2020-07-03 17:43] victordiaz commented on #34
Hi @wottomgauss

I see your point
I'm adding some way to easily customize the main theme. I can add a property to disable the animations if that works for you. It could be something like

[code]

If more people find it uncomfortable then maybe it could be just turned off by default

[2020-07-03 17:54] victordiaz commented on #32
hi again @SuperUserNameMan ,

I managed to lower the version to 4.1.
Unfortunately there are a few things that dont work such LibPd and Processing :/

I think its worth to allow 4.1 devices use PHONK, but probably will need some warnings when trying to use certain features

[2020-07-03 18:01] wottomgauss commented on #34
Thank you! Absolutely love the app so far, please keep up the good work

[2020-07-03 18:40] SuperUserNameMan commented on #32
Hello again @victordiaz ,

I've tested the latest APK 1.23 and pre-release APK 1.2.4 too : Same error when trying to install.

The error message is in french : "Erreur d'analyse : Un problème est survenu lors de l'analyse du package."
which means : "Analysis error : A problem occurred during the analysis of the package."

After a little web-search, the english version of this error might be "Parse

[2020-07-03 18:50] SuperUserNameMan commented on #32
With version 1.0.0, the Processing example crashed.

Also, there was no text displayed inside the example with the textbox when I was typing on the keyboard. (but maybe you fixed that with 1.2.4)

[2020-07-03 18:54] boriskohen commented on #21
Thank you. It's working now. Great piece of software!

[2020-07-03 18:54] #21 closed

[2020-07-03 19:10] victordiaz commented on #32
Thanks for the feedback!

I haven't included the 4.1 changes in the 1.2.4 prerelease but I will include them in the final release which I will do tonight or tomorrow morning. I will let you know, so you can try!

[2020-07-03 20:54] #33 closed

[2020-07-03 23:26] victordiaz commented on #34
@wottomgauss

I removed the animation and it looks good!
So I'll remove the animation by default. It will be possible to reenable it with the animationOnViewAdd property when setting a theme.
This is an example:

[code]

[2020-07-03 23:32] victordiaz commented on #26
The mode() method can change now the behaviour

[code]

[2020-07-03 23:48] victordiaz commented on #34
Just uploaded APKs in Github and pushed to Google Play (it will take a bit to be online). Have a look and let me know if that works for you :)

[2020-07-03 23:49] victordiaz commented on #32
Just uploaded the version 1.2.4 to Github. You should be able to install it now. Let me know if it does work for you

[2020-07-04 00:00] victordiaz commented on #17
Hi @garydion

There was a pull request fixing an issue with MQTT. [https://github.com/victordiaz/PHONK/pull/35](https://github.com/victordiaz/PHONK/pull/35)

The version 1.2.5 is up (Google Play takes a bit longer to update).
Could you try to see if the error is fixed now?

The example has changed a bit, so after updating the app you should go to Settings -> Reinstall Examples. Then Go to Network

[2020-07-04 00:40] garydion commented on #17
It works great now, even on Adafruit.io!  Thanks!  AND the buttons show text as they should.

The pull was from a good friend of mine who knew a LOT more about it than I did.  And while I thought my Mosquitto broker was checking name/password, turns out it wasn't all along.  So that's why it was working despite the bug.

[2020-07-04 00:41] garydion commented on #21
Yep, fixed on my phone too.  The buttons looks great.  Thanks!

[2020-07-04 00:48] victordiaz commented on #33
Version 1.2.5 is already up and with the fix :)

[2020-07-04 02:11] Piroro-hs commented on #4
How about using Babel on the web-editor side? It works perfectly on modern browsers.

[2020-07-04 07:36] BillisC commented on #23
Hi guys, I have the same issue on Redmi Note 8 (Android 10)
The app crashes both when I run a script (on web) and when I open it via the app.

I'm not sure if it's helpful but here is the crash log:
https://pastebin.com/acSt8gJW

I should also note that I gave permissions before doing anything after installing. Also tried clearing cache after the update.

[2020-07-04 07:47] victordiaz commented on #23
Hi @BillisC

Few questions so we can try to solve the mistery :)

- Does it happen with any of the examples?
- Do you use an alternative rom?
- Which version of the phone is it? European / Indian / Chinese / ... ?

[2020-07-04 08:17] BillisC commented on #23
1. Yes it happens with every script I'm trying to run(incl. examples and my new files)

2. Yep i use custom rom, but it's fully stable and I never had issues with any apps but still it could be a possible reason.

3. It shouldn't matter since I'm in a custom rom but it came with global version(For all countries except China and India I think)

[2020-07-04 09:04] victordiaz opened #36 "Crash initializing NFC"
**Problem description**
Crash on script launching
[https://pastebin.com/acSt8gJW](https://pastebin.com/acSt8gJW)

**Device model / Android Version**
   Redmi Note 8 (Android 10 custom rom)

**Steps to reproduce the bug**
Launch a script from the device or the Web Editor

[2020-07-04 09:06] victordiaz commented on #23
Hi @BillisC,

I think the error is a bit different than this isue, so I created a new one.
We can keep on going with the conversation here #36

[2020-07-04 09:12] victordiaz commented on #36
@BillisC
There is a bit of old code in PHONK.
Each time an script launches the NFC tries to be initialized in devices supporting it. Automatic initialization is not good :/

Maybe the custom rom does not support NFC and thats why it crash.
Nevertheless, the NFC should not be initialized each time so this needs a fix asap

[2020-07-04 09:24] BillisC commented on #36
What's strange is that redmi note 8 does not have NFC unlike redmi note 8T. So I used an app that shows support and it indeed showed that it supports. I bet it's because the build is also made for 8T so it's probably a rom issue. Maybe it could also be what you said about old code

[2020-07-04 09:38] victordiaz commented on #36
@BillisC
There is an alpha version here [https://github.com/victordiaz/PHONK/releases/tag/1.2.6-alpha](https://github.com/victordiaz/PHONK/releases/tag/1.2.6-alpha) that should correct the problem.
Do you mind having a look?

[2020-07-04 09:45] victordiaz commented on #4
@Piroro-hs That's a quite interesting idea.
I'm wondering if it will become more difficult to share scripts among people, since you always have to transpile it with the Web Editor...

Maybe a good compromise is to be able to write a main.js.es6 in the editor. Then the editor using Babel will send the transpiled "main.js" to the device, so everything will be normal from the perspective of the app.

[2020-07-04 09:49] BillisC commented on #36
Wow everything works fine now. Small issue that it shows a random crash when i change between scripts. But the app doesn't crash and i can continue using it.

https://pastebin.com/0WCcSuCS

[2020-07-04 10:02] victordiaz commented on #36
I just uploaded a new APK in the same link as before (1.2.6-alpha-2)
It should work now :)

I will keep this issue open until it the NFC stuff can be tested with some real NFC tags :)

[2020-07-04 10:06] victordiaz commented on #36
wait! I was too fast :)
Check the alpha3.... :)

[2020-07-04 10:19] BillisC commented on #36
Alpha 3 works perfectly 👍

[2020-07-04 11:18] BillisC commented on #36
One thing I noticed is that the nfc example led to an app crash but would it be possible to show a text like "Unsupported" or similar instead?

[2020-07-04 12:02] victordiaz commented on #36
Yes, that would be good.
I dont have the right hardware but if you can test it for me I'd be happy to do it

[2020-07-04 12:59] BillisC commented on #36
sure thing, right hardware you mean no nfc hardware right?

[2020-07-04 13:18] SuperUserNameMan commented on #32
Great ! it works ! I'm all exited now ! :-D

As you can see with the screenshot below, the text into the yellow rectangle box at the top is too small. On the tablet, it is unreadable (  screen is 160dpi with a resolution of 600 x 976. ).

![Screenshot_2020-07-04-13-41-06](https://user-images.githubusercontent.com/9801802/86511822-e46d5480-bdfc-11ea-92a4-e591947eb694.png)

Here are the feedback of

[2020-07-04 13:37] victordiaz commented on #32
@SuperUserNameMan thanks for your exhaustive report!
This helps a lot to make it more backwards compatible.
I will go carefully through the list and create different issues for each problem.

[2020-07-04 15:04] hamoid opened #37 "Idea: autoselect enclosing function when evaluating a single line in the editor"
Currently, when editing a Processing based program, I can press Ctrl+Shift+X to reevaluate the selection.

This works if I select the whole `draw` function for example.

But I don't select anything, it will give an error because evaluating `p.stroke(255, 0, 0)` out of any context fails (`p` is unknown).

The SuperCollider IDE solves this by implementing a feature that autoselects the enclosing fun

[2020-07-04 15:08] hamoid opened #38 "Idea: include a link from the IDE to github issues (or forum if there is one)"
If I encounter an issue while running the IDE in my laptop, there is no quick way to go to github to see if it's been reported before / open an issue.

Maybe I need to search for phonk, visit the page, find the link to github, click on issues, etc.

Making it easier to find may help get more feedback.

[2020-07-04 17:57] victordiaz commented on #17
Cool to hear!
I changed not so long ago the underlying MQTT library because the old one had some problems, But it seems I didnt test it enough :)
I will keep the issue open until I add the methods to the documentation

[2020-07-04 18:10] victordiaz opened #39 "Draft: Theming and Styling views"
This API is added now to style the widgets (you can try it out already).
Is there any property that is interesting to add?

Example:

[code]

Output:
![photo_2020-07-04_20-06-07](https://user-images.githubusercontent.com/422387/86518413-4300f580-be32-11ea-85e7-cfd02a27a9f1.jpg)

[2020-07-04 19:58] LukasEdl opened #40 "Idea: close app with a command"
**The Idea**
A command to close phonk and not only the current script.

**What would be the benefit**

Im currently trying to use phonk as a way to send mqtt commands quickly.
My idea was to create a script which just connect to the mqtt broker, send the message and then closes the app. Then i create a shortcut to the desktop and i would be able to send mqtt commands with one button press. However

[2020-07-04 22:02] victordiaz commented on #40
Hello @LukasEdl
This is indeed a very good use! I think there might be two approaches for this:

1) app.close() closes the script if the script was launched from the main app, but if the script was launched from a shortcut, the app should close entirely without going to the main screen
2) Another method can be added, like closePhonk() / closeAll() / closeEverything() which is a more radical approa

[2020-07-04 22:07] victordiaz commented on #38
Thats a good one, I think the more accessible is to report problems the better. I'm wondering were is the best place to put it without cluttering the interface.

There was another idea of adding a link in the console to the file where errors might be originating. Console can display images, so maybe a tiny github logo and a forum logo might be handy.

[2020-07-04 22:14] victordiaz commented on #37
I would love to see that!
I'm just wondering how would it work in a case where I want to execute only one line within some brackets (In this case I dont need the internal context)

The live execution works in more use cases than Processing, so how it work for more scenarios? Maybe different shortcuts?

By the way @hamoid , what is the default shortcut for other live coding environments?

[2020-07-05 05:28] wottomgauss commented on #34
Yes this is working perfectly now, many thanks!

[2020-07-05 05:28] #34 closed

[2020-07-05 08:38] hamoid commented on #37
I think shortcuts involving [enter] would be nice. Like ctrl+enter, shift+enter, alt+enter or ctrl+shift+enter... something like that.

This is what I have in SuperCollider, but I don't remember the defaults:
![2020-07-05-103556_885x128_scrot](https://user-images.githubusercontent.com/108264/86528766-86e41100-beab-11ea-82c8-5d31c1a99b4b.png)

There could be two shortcuts: one for the current line,

[2020-07-05 08:48] LukasEdl commented on #40
Hi,

option 1) actually works for me. However it only works if phonk is closed when i launch the script from a shortcut. When phonk is running in the background, it will show the script overview after the `app.close()` command was called.

[2020-07-05 09:59] victordiaz commented on #40
I see! Then it might be interesting to add a function to close the parent app for certain situations!

Right now PHONK works in the following way.

- PHONK app -> This is the main UI
- PHONK service -> this runs in the background and contains the servers to use the Wed Editor
- PHONK Apprunner -> this is actually what runs your script

When you run your script, you tell the service to run the AppR

[2020-07-05 15:55] elnezah opened #41 "Internal links in reference not working"
**Problem description**
The pages of the reference have links that should go to other pages of the reference, but these links do not work. This happens both in the website (phonk.io) and in the in-app reference.
For example, go to the reference of `addButton()`. In the bottom you find a link to the class `Button`. This link does not work.

**Device model**
InApp: Lenovo Yoga Book (YB1-X90F)

**And

[2020-07-05 16:03] elnezah opened #42 "Unable to download it via Play Store (incompatible device)"
**Problem description**
I was not able to download/install Phonk to my device through Play Store, it says that my device is not compatible. I downloaded the APK from phonk.io and it works perfect (as far as I have tested it), so it looks as it is compatible really.

I have had similar issues with other (few) apps and I am quite sure it happens because my tablet has an Intel Atom processor.

**Devi

[2020-07-05 16:17] elnezah opened #43 "Any chance to develop the UI for landscape orientation?"
**Problem description**
Not sure if this is already done and I have just not seen it: I use to use Phonk to develop right in my tablet using physical keyboard. This setting force me to use my tablet in landscape mode. Then when I run the program, the orientation of it is portrait, which is not convenient. Is there any change to tell Phonk I want to stay landscape, so it draws the UI I program land

[2020-07-05 16:24] elnezah opened #44 "Idea: in-app documentation filter includes headers (class names)"
**Problem description**
I like to use Phonk to write and run code directly in my tablet (very nice with physical keyboard). Therefore I use a lot the in-app reference. When I use the filter, it only shows results concerning function name and overlooks class names, making it more difficult to find information. It would be nice that the filter shows results of both, functions names and class names.

[2020-07-06 08:08] Slord6 commented on #33
Great, thanks!

[2020-07-06 12:46] nikunjbhatt opened #45 "Is there any problem with Camera.turnOnFlash(true)?"
I am exploring this awesome PHONK project.

In the main.js file, if I write only one line `Camera.turnOnFlash(true)` and run the PHONK project, then should it turn the flash on? I tried this after looking in the Reference guide, but it is not working. I also tried below lines:
`camera.turnOnFlash(true)`
`device.Camera.turnOnFlash(true)`
`device.camera.turnOnFlash(true)`
But none of these are worki

[2020-07-06 12:55] victordiaz commented on #45
Hello @nikunjbhatt

Please check the Media -> Camera example.
The current implementation needs the camera to be active in order to turn on the flash, since it uses an old Android implementation that needed the camera to be active.

I'm aware its quite possible to turn on the flash without the camera, I will add that to the TODO list and include it for the next release.

Maybe the camera example ca

[2020-07-06 12:57] victordiaz commented on #43
Hi @elnezah

There is a way to launch a script in landscape mode. Please check Advanced -> App Config example.
Inside there is a app.conf file where you can specify the orientation to `"orientation": "landscape"`

Do you think having an example inside the Graphical User Interface folder will make it more easy to discover?

[2020-07-06 12:58] nikunjbhatt commented on #45
Ok. Got it. Thanks for quick reply.

[2020-07-06 13:03] victordiaz commented on #42
Is this model? If so, Google Play reports that is supported :/

![2020-07-06-15:01:52_239x172](https://user-images.githubusercontent.com/422387/86595878-afe2cf80-bf99-11ea-805f-a681ffb0e9cf.png)

[2020-07-06 13:04] victordiaz commented on #23
I think this issue is resolved

[2020-07-06 13:04] #23 closed

[2020-07-06 13:04] #26 closed

[2020-07-06 13:12] nikunjbhatt commented on #45
I don't have much idea about Android development, but as per you said that old Android implementation needed active to work with flash, which means new Android implementation doesn't require active camera then I think the API should be changed to `device.turnOnFlash(boolean)` instead of `camera.turnOnFlash(boolean)`. Also, I suggest to remove the word `On` from the function name, or even remove th

[2020-07-07 08:15] txf- opened #46 "Util.parseBytes only supports chars"
[code]
Ideally this section in PUtil.java should support more datatypes than just 8 bit values. Presumably BluetoothBytesParser supports more data types?

[2020-07-07 09:19] victordiaz commented on #46
@txf-
It seems to support float, int and longs as far as a I can see. I will include them and release it in the next version.
Thanks for commenting on this

[2020-07-07 13:00] victordiaz commented on #45
That's a good idea!
On the other side, there is some devices that have multiple flash lights (front and rear), so I think is good that the camera has its own method to turn on the flash light.
I will check how is turning the flash without the Camera and include it. It makes sense to include it inside the device object.
I like to have an action verb for some methods, so maybe `device.activateFlash(

[2020-07-07 22:40] victordiaz commented on #40
I just added a new method `app.finish()` that closes the script and the parent app.
It will be included in this week update

[2020-07-08 08:34] Nic7C5 opened #47 "No Permission to send SMS, smsSend()"
I appreiciate your work. It's very handy for beginners.

When trying the SMS function I faced an error.

Blackberry Key 2 (BBF100-6)
Android 8.1.0 (Kernel 4.4.78...) Security Patch May 2020
Phonk Version 1.2.5 normal / extended (from github, tried both versions)

calling the function
`smsSend(012345,'test')`

throws the error `Wrapped java.lang.SecurityExeption: Sending SMS message: uid 10238 does

[2020-07-08 09:01] victordiaz commented on #47
Hello @Nic7C5

Google Play does not allow anymore apps that access the SMS, so for that reason I created a separated extended APK that you have to download from here [https://github.com/victordiaz/PHONK/releases/tag/1.2.5](https://github.com/victordiaz/PHONK/releases/tag/1.2.5)

Can you try to install that version and let me know if it works? (you have to uninstall the previous version)

[2020-07-08 09:03] Nic7C5 commented on #47
I just updated my first post. At first I used version 1.2.5 from the Playstore. Now I installed the 1.2.5 extended apk from here. The error is still the same.

[2020-07-08 09:07] victordiaz commented on #47
Ok I see, I'll have a look later with more detail and see what's going on :)
Thanks for reporting

[2020-07-08 11:32] 42loop commented on #17
hello,

for me the mqtt example still does not work:

Wrapped java.lang.NullPointerException: Attempt to invoke virtual method 'char[] java.lang.String.toCharArray()' on a null object reference (MQTT#22)

tried different mqtt brokers, same on all, even compiled from git in android-studio...

[2020-07-08 11:33] victordiaz commented on #47
Hello @Nic7C5

Could you check to install `phonk-1.2.6-alpha-4-extended-release.apk` from [https://github.com/victordiaz/PHONK/releases/tag/1.2.6-alpha](https://github.com/victordiaz/PHONK/releases/tag/1.2.6-alpha) and tell me if it works for you?

Thanks

[2020-07-08 11:44] victordiaz commented on #17
Hi @42loop
Did you update the examples in Settings -> Reinstall Examples?

[2020-07-08 11:57] 42loop commented on #17
yes, removing user and password in connectiondata helps
thanks

[2020-07-08 11:59] victordiaz commented on #17
@42loop Thanks for reporting the issue. I'll update the MQTT example in the next release :)

[2020-07-08 12:06] victordiaz commented on #47
@Nic7C5
One thing I saw in your first comment the method `device.smsSend(012345 , 'test')` should be instead `device. smsSend('012345', 'test')`
The number is a string since you can write Phone numbers with the + prefix

[2020-07-08 12:09] Nic7C5 commented on #47
It's working with the alpha 4 (and number as string). Thanks!

[2020-07-08 12:58] victordiaz commented on #47
I will keep the issue open until the next release. Thanks for testing it :)

[2020-07-08 23:43] victordiaz opened #48 "Advanced / Capture Notification error"
**Problem description**
As reported in #32
example Advanced / Capture Notification displays this error dialog : Wrapped android.content.Activity/NotFoundException : No Activity found to handle Intent { act=android.settings.ACTION_NOTIFICATION_LISTENER_SETTINGS } (Capture Notification)

**Device model**
Acer Iconia B1-A71 tablet

**Android version**
Android 4.1.2.

**Steps to reproduce the bug**

[2020-07-08 23:45] victordiaz opened #49 "LiveCodingOverlay has small font size"
**Problem description**
As reported in #32
example Advanced / LiveCoding : when pressing Ctrl+Shift+X from the Web Editor, there is a very tiny unreadable line of text displayed temporarily at the bottom of the application on the tablet.

**Device model**
Acer Iconia B1-A71 tablet

**Android version**
Android 4.1.2.

**Steps to reproduce the bug**

[2020-07-08 23:47] victordiaz opened #50 "app console has small font size"
**Problem description**
As reported in #32
The text into the kind of error box is very small an almost unreadable (but i've just noticed they appear into the Console box of the WebEditor too).

**Device model**
Acer Iconia B1-A71 tablet

**Android version**
Android 4.1.2.

**Steps to reproduce the bug**

[2020-07-08 23:50] victordiaz opened #51 "HTTP Server crash app on exit"
**Problem description**
As reported in #32
when testing Network / HTTP Server a error box appeared after i connected to the /helloworld page
```: error : Method 'io.phonk.runner.apprunner.api.PUI.toast(string.number)' can't be found (HTTPServer#24). And once I leave this example, a dialog popup "The application PHONK was stopped".```

**Device model**
Acer Iconia B1-A71 tablet

**Android version**

[2020-07-08 23:50] victordiaz opened #52 "Processing / LibPd crashes on Android 4.1"
**Problem description**
As reported in #32
Processing and LibPd crash on Android 4.1

**Device model**
Acer Iconia B1-A71 tablet

**Android version**
Android 4.1.2.

**Steps to reproduce the bug**

[2020-07-08 23:52] victordiaz opened #53 "OpenStreetMaps do not work on Android 4.x.x"
**Problem description**
As mentioned in #32
example GUI / Maps (OpenStreetMaps) : It does not display any map. The background is a gray grid with a "MAPS (OPENSTREEMAPS)" title in bold yellow, a red circle, a cyan circle, two blue segments and a pinpoint-location icone. Zooming and scrolling moves them randomly.

**Device model**
Acer Iconia B1-A71

**Android version**
4.1.2

**Steps to reproduce

[2020-07-08 23:55] victordiaz commented on #32
Hi @SuperUserNameMan,
I divided the issues in different ones as you can see linked, I will close this issue as it is resolved and continue with the other ones, feel free to follow the status of them. Thanks again for the exhaustive report!

[2020-07-08 23:55] #32 closed

[2020-07-09 08:20] SuperUserNameMan commented on #32
@victordiaz : when you need me to do specific tests on my device, feel free to summon me :-)

[2020-07-09 08:22] SuperUserNameMan commented on #52
Little precision : It crashes with 1.2.5, but it worked with 1.0.0.

[2020-07-09 09:42] victordiaz commented on #32
@SuperUserNameMan thanks. I will :)

[2020-07-09 12:57] garydion commented on #52
Can also confirm the Processing example in 1.2.5 crashes Phonk in 4.4.4.

[2020-07-09 14:00] victordiaz commented on #52
@garydion Thanks for letting me know
Do you have any log?

PHONK 1.0.0 used an older version of Processing core, maybe there is something in newer versions that breaks in old models.
I'll have a look into this asap

[2020-07-09 15:27] garydion commented on #52
I'll check for any log messages tonight.

[2020-07-09 15:50] SuperUserNameMan commented on #52
Sorry, my little precision was missing an important precision :
- Only LibPD works with 1.0.0.
- Processing crashes with both 1.2.5 and 1.0.0.

[2020-07-09 19:23] LukasEdl commented on #40
nice, thanks for adding it

[2020-07-10 10:42] gschora opened #54 "Firebase integration"
Would it be possible to integrate Firebase?

This would be great to log some data into a database or use the ML kit since you've already integrated the camera...

And you really should setup a donation button somewhere, because you have no clue how long I've searched for something like this :-)

[2020-07-10 10:59] victordiaz commented on #54
Hi @gschora

1) I think is very interesting to add Firebase. My only concern is that some people want to have a de-googlified version of PHONK but I would not mind to add a variant with non-free stuff, or a way to add libraries on demand ( I dont know how to do this yet in android 😅)
I will create a new branch and try to add it during the next days.

2) Thanks for your comment, is flattering :)
I

[2020-07-10 16:52] gschora commented on #54
I don't know if this would be a problem for people, since you are already using Google services in your text recognition example.
BUT to have at least the option would be awesome, and realtime data exchange between devices would be so much easier...

and thanks for the link :-)

[2020-07-10 17:39] victordiaz commented on #54
Hi @gschora :)
The text recognition example uses the "recognition service" that it's used system wide. For some phones will be Google for some others not (ie: roms, Huawei, devices in China, some samsungs, etc) :)
PHONK does not use Google Play services library which I think is a good decision to allow people use it without restrictions.

Nevertheless I think Firebase might be superconvinient so I

[2020-07-11 00:01] marclava commented on #54
Firebase is a service with a REST API that *requires* Google Play services for authentication. I would suggest to ensure that with added Firebase support, Phonk would still work on ungoogled phones (if possible).

[2020-07-11 19:20] nikunjbhatt commented on #45
@victordiaz
Sorry for very late replying, I had completely forgot.

I don't think using verb in methods which are doing toggling things is good. Or there should be 2 different methods for 2 different states, for example: `device.activateFlash()` and `device.deactivateFlash()`.

[2020-07-11 19:30] victordiaz commented on #52
[According to this](https://github.com/Calsign/APDE/commit/bb0ed8b5268843811885957d0f77ff598e8b36d1) it seems that Processing is trying to look for some Wearable classes that only exists in higher Android versions.

I'm going to fork Processing core and check if I can "easily" remove those dependencies. If not I will revert the library to the old one. I prefer to have the widest support across ver

[2020-07-11 20:13] victordiaz commented on #53
I had a look on other Android 4.x.x devices and it seems there is a problem with the OSM library PHONK is using.
I opened an issued here and see if there is some answer. [https://github.com/osmdroid/osmdroid/issues/1617](https://github.com/osmdroid/osmdroid/issues/1617)

[2020-07-11 20:16] victordiaz commented on #50
@SuperUserNameMan could you send me an screenshot?

[2020-07-11 21:09] victordiaz commented on #45
@nikunjbhatt I agree It's better without the verb. Thanks for the suggestion :)

[2020-07-11 21:34] victordiaz commented on #51
Fixed with this commit [https://github.com/victordiaz/PHONK-examples/commit/515d2f4ed7fac1b95368c98598facf77e1de0732](https://github.com/victordiaz/PHONK-examples/commit/515d2f4ed7fac1b95368c98598facf77e1de0732)

[2020-07-11 21:34] #51 closed

[2020-07-11 23:45] victordiaz commented on #46
I included some more data types although I only managed to test uint8 and strings. For some reason float does not work for me but maybe I'm just sending wrongly the data from my ESP

[2020-07-12 10:51] victordiaz commented on #13
@ffranchina It took me like forever but now there is a message in protocoder repo and website inviting to go to PHONK :)

[2020-07-12 13:30] SuperUserNameMan commented on #50
Note : The Display / Font Size parameter of my tablet is set to "Normal".
The actual width of the screen is 9cm and its diagonal is 7 inches.

![Screenshot_2020-07-12-15-23-23](https://user-images.githubusercontent.com/9801802/87247384-d8644100-c453-11ea-870d-155d3584d566.png)

[2020-07-13 17:20] burnedsap commented on #29
- [ ] Getting started with using sensor data
- [ ] Making complex sketches while using different functionalities and libraries

Will add more as I think of them!

[2020-07-13 17:22] burnedsap commented on #12
I can help with some tutorials on using sensor data to create Processing sketches. I do need a little help on figuring out a few things though.

[2020-07-14 10:23] SuperUserNameMan opened #57 "media.useCamera('back') crashes on tablet when no back-camera available"
Hello again,

I'm testing the new Phonk 1.2.7 on my Acer B7-A71 tablet (Android 4.1.2).

**Problem description**
 ~~PHONK 1.2.x crashes when running example media/camera.~~

``media.useCamera('back')`` crashes PHONK because there is no back-camera.

``media.useCamera('front')`` works.

**Device model**
Acer B7-A71 tablet

CPU : MT6517 armv7l
GPU : PowerVR SGX 531
RAM : 512 MB
Display : 600x1024 @

[2020-07-14 10:27] victordiaz commented on #57
Hello @SuperUserNameMan

1) Did it work before?
2) Did you update the examples
3) Do you get any error?

Thanks

[2020-07-14 10:32] SuperUserNameMan commented on #57
No it never worked on this tablet.
I thought I told you already, but I might have forgot.

[2020-07-14 10:32] 42loop commented on #17
hello,
in the 1.2.7 release the mqtt connect and subscribe functions work, but publish does not return, have to kill phonk on the device
greetz

[2020-07-14 10:33] SuperUserNameMan commented on #57
Oh wait ! ``useCamera('front')`` instead of `back` works this time.

It did not work at all with previous version.

So it only crash when ``useCamera('back')``.

[2020-07-14 11:15] victordiaz commented on #17
Hello @42loop
What do you mean with "publish" does not return?
Could you elaborate a bit more?

Thanks!

[2020-07-14 11:16] victordiaz commented on #57
Thanks @SuperUserNameMan
I will add a camara availabilty check before you can use it :)

[2020-07-14 11:17] victordiaz commented on #47
The new version is online with the changes.
Feel free to close the issue if everything works fine for you :)

[2020-07-14 11:18] victordiaz commented on #36
Hi @BillisC
There is a new version 1.2.7 online. Can you check if the same thing is still happening? Thanks

[2020-07-14 11:18] victordiaz commented on #40
Hi @LukasEdl
The new version is online with the changes.
Feel free to close the issue if everything works fine for you :)

[2020-07-14 11:19] victordiaz commented on #46
Hi @txf-
The new version is online with the changes.
Let me know if that works as intented

Thanks

[2020-07-14 11:42] BillisC commented on #36
The nfc is fixed and the app works. Not sure if you changed the example nfc since it crashes the app

[2020-07-14 12:18] victordiaz commented on #36
Hi @BillisC
I don't understand very well. Does it crash on your device?
In my PIxel 3a NFC works both reading and writing with 1.2.7

[2020-07-14 13:37] BillisC commented on #36
Let me explain,
My phone (redmi note 8) does not support NFC. The app used to crash because of some old code that you already fixed. Now everything is fine except from the NFC example script which instantly crashes the app because no NFC is found. So my idea was to add a message like "NFC is unsupported" in it  instead of crashing the app.

[2020-07-14 13:48] victordiaz commented on #36
Oh, I see! :)
In theory I'm checking if th NFC is supported by the device. Since your rom is reporting that you have NFC (but you dont have) then the app crashes, so I think is more an issue with the rom than with PHONK now.
If you can post a log I can try to add some try catches. I think that since your setup is very unlikely to happen to another person, dont you think?

[2020-07-14 14:03] marclava opened #58 "LeakCanary?"
When compiled as a debug version (when using Android Studio), Phonks include LeakCanary to catch and report memory leaks.

Would it be useful to share LeakCanary reports? Is so, how?...

[2020-07-14 14:29] marclava commented on #36
My phone is also a Xiaomi, model Mi A2 Lite (Redmi 6 Pro); it does not support NFC, and the Phonk example shows a proper alert ("This device does not support NFC"), very probably because my ROM (LineageOS) correctly detects that NFC is not supported.

[2020-07-14 14:46] victordiaz commented on #58
Hi @marclava
I included LeakCanary because there is actually a memory leak in the main app that has to be fixed, is it in my TODO but a bit down in the list since is not very crucial.
You could just create an issue for each individual one

[2020-07-14 14:46] victordiaz commented on #36
Thanks @marclava for checking it out

[2020-07-14 14:58] victordiaz commented on #12
That would be great! Let me know how can I help you :)

[2020-07-14 15:08] 42loop commented on #17
i mean, if i place a console.log() after the publish command, it never gets called.
also the button stays in 'pressed' state (gray)

[2020-07-14 17:23] b2renger commented on #12
I can also help if needed !

[2020-07-14 17:49] burnedsap commented on #12
Amazing, is there a discord/slack where we can coordinate?

[2020-07-14 20:09] BillisC commented on #36
Well looks like a rom issue in the endm This should conclude the nfc problems

[2020-07-15 09:18] victordiaz commented on #50
@SuperUserNameMan I increased tiny bit the default console size. Do you think is enough or should I have a bigger text size for tablets?

[2020-07-15 09:20] victordiaz commented on #36
@BillisC ok! thanks for your initial report, I made me help improving and fixing a bunch of NFC related stuff :)

[2020-07-15 09:20] #36 closed

[2020-07-15 09:21] victordiaz commented on #17
@42loop I see! Maybe the paho library I'm using has some blocking mechanism. I'll have a look thx :)

[2020-07-15 09:46] victordiaz commented on #17
@42loop
I just had a look and couldn't replicate the problems.
I'm using mosquitto broker for testing with the PHONK's MQTT built-in example. I just added a console log right after calling the publish method.
The console log appear and the button behaves normally.

Could you send me the details of your code & setup so I try to replicate it?

Thanks!

[2020-07-15 10:50] victordiaz commented on #12
Hi, I just created a discord here [https://discord.gg/Rt2mkWp](https://discord.gg/Rt2mkWp)
Feel free to join :)

[2020-07-15 11:06] SuperUserNameMan commented on #50
Oh I forgot to keep you updated with this change when testing new version yesterday. sorry.

Yes, now it has same size as the text at the top. It is readable.

You can close this issue :-)

[2020-07-15 11:13] SuperUserNameMan commented on #49
I've just found the tiny text that appears at the bottom of the tablet (when pressing Ctrl + Return) is a copy of the code-line that is updated.

It is still very tiny and unreadable with 1.2.7

[2020-07-15 11:15] victordiaz commented on #50
Perfect, thx :)

[2020-07-15 11:15] #50 closed

[2020-07-15 11:21] victordiaz commented on #49
Hi, I forgot to update the example :) I just changed it.

In the code itself you can change the size using
``` .textSize(12)```

I will include the change in the next release
Thanks :)

[2020-07-15 11:22] SuperUserNameMan opened #59 "example Advanced / Background App displays "script has crashed""
Hello again !

When I run the Background App example, the background-app show up into my notification list.

And when I click/touch it into the notification list, the screen turn black and a tiny box at the bottom says "The script has crashed :(" and the PHonk application seems to reboot.

**Device model**
Acer Iconia B1-A71 tablet with Android 4.1.2

**Steps to reproduce the bug**

Run the Backgr

[2020-07-15 11:23] victordiaz commented on #49
By the way, the liveCoding thing is just a way to show people what line is executed in each time. It's a bit geeky buy found it useful for demonstration purposes :)

[2020-07-15 11:25] victordiaz commented on #59
Thx for reporting this. Background services is something I want to fix, so I will take this issue as an opportunity to improve it :)
Basically the Background service runs scripts in the background in cases where you dont need a UI or you don't want the script to keep running when the screen is off.
ie: music player or communicating with a server.

[2020-07-15 19:44] LukasEdl commented on #40
Hi @victordiaz it works for my case.

One thing, if Phonk is not open and i open my script which closes with app.finish() there is still the process in my process list.

[2020-07-15 20:48] victordiaz commented on #40
Hi @LukasEdl,
I think the process might be there since Android manages the lifecycle of apps. You might close it but Android might keep it for a bit in memory in case it gets reused. When Android needs resources it will properly kill the processes. "Hard killing" an app is not recommended in Android
Do you think it might be the case?

[2020-07-16 01:32] garydion commented on #17
For what it's worth, moving from 1.2.5 to 1.2.7 didn't break my ability to use either Adafruit.io or CloudMQTT.

[2020-07-16 08:42] victordiaz commented on #17
@42loop I can see now what you mean. It seems that when it cannot connect or deliver the message the UI getz frozen. I'll try to fix it ASAP

@garydion thx for checking it out

[2020-07-16 21:17] LukasEdl commented on #40
It could be that case, however i dont do alot of android development, so i cant tell you that.

The function however provides what i my idea was so i gonna close the ticket.

[2020-07-16 21:18] #40 closed

[2020-07-17 19:36] #47 closed

[2020-07-30 19:29] briantilley opened #60 "Code changes do not take effect until PHONK is restarted."
Code edits I make to my project on both the mobile text editor and the web editor do not take effect the next time I save and run my project. As a workaround, I have to do to following:

Save my changes
Stop the webserver
Remove the app from recent apps ("kill it")
Re-open PHONK
Start my project (works from web editor and phone)

I am using a OnePlus 5 (version w/ 6GB ram, 64GB storage) on Android

[2020-07-31 12:53] victordiaz commented on #60
Hi @briantilley

I cannot reproduce the bug with any of my devices or emulators :/
When you save the code from the Web Editor, do you get the notification that is "saved"?

Can you double check if you gave permissions to access the device storage?

[2020-07-31 16:58] briantilley commented on #60
The "Saved" notification does go through successfully (changes to yellow) and I can verify that by looking at the updated code from the app. I just checked, PHONK has storage access permission. Only one version is installed, from the Google Play store. If it would help, I can provide the project files later today.

[2020-07-31 17:51] victordiaz commented on #60
There is a discord channel here https://discord.gg/Rt2mkWp

Feel free to enter if you think we can solve the problem faster :)

[2020-08-01 10:47] victordiaz commented on #46
I close the issue since I think a previous commit improved the situation :)

[2020-08-01 10:47] #46 closed

[2020-08-01 18:06] Krugergit opened #61 "Wifi: Get list of all WiFi networks nearby"
List:
- mac
- channel
- rssi
- name
- security type

[2020-08-01 18:39] Krugergit opened #62 "Gps: getSatelliteCount"
Get numbers of “satellites in view” and “satellites in use”

[2020-08-01 18:42] Krugergit opened #63 "Phone: toggleAirplaneMode"
Turning Airplane Mode on/off

[2020-08-01 22:14] Krugergit opened #64 "Cell: getAllCellInfo()"
Retrieve cellinfo for connected and neighboringcells (lac, cid, rssi, mcc, mnc, type)

[2020-08-04 17:57] adasq commented on #47
When can we expect this version to be published into Google Play Store?

[2020-08-04 18:41] victordiaz commented on #47
Hi @adasq
Google Play is nowadays very strict with some features like sending SMS, so if you are not a big company or your SMS sending is justified somehow they don't allow it.
For that reason there is an Extended version [https://github.com/victordiaz/PHONK/releases](https://github.com/victordiaz/PHONK/releases) here that you can download and install in your phone or tablet that has SMS functiona

[2020-08-04 19:37] adasq commented on #47
Hey @victordiaz,

Thanks for the response. I tried the released APK, but unfortunately, it crashes after downloading examples.

[2020-08-04 19:40] victordiaz commented on #47
@adasq try to uninstall all the PHONK versions in your phone and then reinstall the extended version. Let me know if that works!

[2020-08-04 20:59] adasq commented on #47
Well, it works!
Really appreciate your work. Thank you.

[2020-08-05 19:56] Jakoma02 opened #66 "Knob `decimals()` method has no effect"
It seems to me that the `decimals()` method of a knob has no effect (as opposed to changing the number of displayed decimal places). The bug can be easily reproduced by using the method with any argument other than 2.

I believe that the problem lies in the `PKnob` java class, where the `formatString` is only used in the **constructor** to create a `DecimalFormat` instance `df` that is later used

[2020-08-05 21:08] victordiaz commented on #66
Hello @Jakoma02
You are totally right, thanks for letting me know. I'm fixing it ASAP and include it in tonight's release :)

[2020-08-05 21:47] victordiaz commented on #62
Now we can access the satellites using the following callback.

[code]

The new version is released.under releases. It might take a bit to get available in google play.
Feel free to close the issue after you try it.

[2020-08-05 21:49] victordiaz commented on #61
[code]

The new version is released under Releases. It might take a bit to get available in google play.
Feel free to close the issue after you try it.

[2020-08-05 21:50] victordiaz commented on #39
This got quite nice in the last versions, so closing the question

[2020-08-05 21:50] #39 closed

[2020-08-05 21:51] victordiaz commented on #17
@42loop I just uploaded a new version 1.2.8 and I think it solves the issue with the blocking stuff.
I hope it didn't break anything else :)

[2020-08-05 21:54] victordiaz commented on #49
@SuperUserNameMan The example is adjusted in 1.2.8 so the text looks a bit bigger. Feel free to close it after you try it :)

[2020-08-05 21:54] victordiaz commented on #53
@SuperUserNameMan

[2020-08-05 21:55] victordiaz commented on #53
@SuperUserNameMan In the new version 1.2.8 maps should work correctly on 4.x.x device. Could you try it out? Thanks!

[2020-08-05 22:11] victordiaz commented on #66
@Jakoma02 the new version is uploaded and should be online

[2020-08-06 08:24] SuperUserNameMan commented on #53
@victordiaz : Yes, I confirm it works ! :-D

[2020-08-06 08:30] SuperUserNameMan commented on #49
@victordiaz : yes it's better.

PS : i can't close issues if that what you meant.

[2020-08-06 08:34] SuperUserNameMan commented on #57
@victordiaz : I've tested this example again with the new 1.2.8. And it does not work anymore. It displays this error :
``[ :-( problem! ]  Wrapped java.lang.NullPointerException (Camera#12)``

[2020-08-06 09:04] victordiaz commented on #53
Ok! thx for checking @SuperUserNameMan ! I close the issue then :smile:

[2020-08-06 09:04] #53 closed

[2020-08-06 09:05] victordiaz commented on #49
Thx, for checking. I realized I opened the issue :facepalm:  I close it :smile:

[2020-08-06 09:05] #49 closed

[2020-08-06 09:11] victordiaz commented on #57
@SuperUserNameMan What is your expected behavior? I will have a deeper look these days

[2020-08-06 09:13] victordiaz commented on #45
@nikunjbhatt

You can now turn on/off the flash light using
`device.flashLight(boolean)`

Feel free to check it and close the issue if it's the expected behaviour. Thanks!

[2020-08-06 09:15] victordiaz commented on #42
I close the issue since I could not replicate and figure out the problem

[2020-08-06 09:15] #42 closed

[2020-08-06 09:15] victordiaz commented on #30
I close the issue since I could not replicate the issue and figure out the problem

[2020-08-06 09:15] #30 closed

[2020-08-06 09:18] SuperUserNameMan opened #68 "Background application example can't be stopped on Android 9 / MIUI 11"
Hello,

When I test the "backgound application" example on Android 4.1.2 and Android 5.1, the background app appears into the notification list and can be stopped with a "stop button".

But when I run it on my Xiaomi Redmi 7 with MIUI11 (Xiaomi customized version of Android 9), it does not appear into the notification list and I can't stop it unless I close Phonk.

I don't know if it is related to

[2020-08-06 10:36] SuperUserNameMan opened #69 "Add better support for Android TV ?"
Hello again,

I don't know if Android TV are part of your goal, but I was curious to test Phonk on my Android TV 5.1.

I could not try all examples, but here is a list of some issues I've found so far :

- [ ] Phonk icon does not appear into the "launcher" or "desktop" (I have to go deeper into the application management menu to find and run Phonk)
- [ ] Remote control navigation into the Phonk us

[2020-08-06 10:37] SuperUserNameMan commented on #69
device

    model name: QM152E
    type: tablet
    manufacturer: PHILIPS

screen

    screen resolution: 1280 x 720
    screen dpi: 213
    screen: true
    brightness: 102
    orientation: landscape

script

    running script: none

other

    total memory: 28966823
    used memory: 27155799
    battery level: 100

[2020-08-06 11:13] SuperUserNameMan commented on #57
Oh sorry, nevermind ... my bad. I tested again and it works.
I must have forgot to save the script before running it again into the webeditor after i replaced "back" with "front" (as my tablet does not have back camera).

Though, what do you think of this behavior for ``media.useCamera()`` :
- if the requested camera is not available, automatically try with the other one ?
[code]

[2020-08-06 11:25] #57 closed

[2020-08-06 11:58] 42loop opened #70 "camera.takePicture"
phonk 1.2.8: when running the camera example, it shows the image,
but when trying to take a picture:

Can't find method io.phonk.runner.apprunner.api.media.PCamera.takePicture(string,function). (Camera#16)

while the flash function works

if I would understand how it all works, i'd like to contribute - i see the declaration in the java files but still phonk can't find the method ???

[2020-08-06 12:11] 42loop commented on #17
in 1.2.8 connect and publish works (as i can see in a different client) but in phonk onNewData() never gets called.
the other client tells me that subscribe() does not work.

[2020-08-06 12:20] 42loop commented on #17
correcting myself: onNewData() gets called,
but e is always {"status":"deliveryComplete"} instead of the message

[2020-08-06 13:13] victordiaz commented on #17
@42loop I just found the problem.
Since I changed to asynchronous methods, when `c.subscribe('debug')` is called, the connection is not ready yet.

I will change the example tonight to fix it. Thanks for letting me know!

[2020-08-06 13:19] victordiaz commented on #70
Hi @42loop

Feel free to join this Discord channel [https://discord.gg/Rt2mkWp](https://discord.gg/Rt2mkWp) so I can explain how things work and maybe document everything along the way :)

[2020-08-06 13:20] victordiaz commented on #69
Hi @SuperUserNameMan
Thanks for the report! I can change a few things I think to make it a bit more compatible although I don't have any Android TV!

[2020-08-06 13:37] victordiaz opened #71 "Toggle state is swapped"
**Problem description**
Toggle button shows the opposite state at it should. This is a problem introduced in 1.2.8 when refactoring the Styler class.

Related:
https://github.com/victordiaz/PHONK-examples/issues/9

[2020-08-06 15:30] nikunjbhatt commented on #45
@victordiaz
Thanks. It's working!

By the way, in the README.me of the PHONK repo, you have told to contact you by email but I can't find your email anywhere, not in the README.md file, not in your GitHub profile, not on your personal website, not on the phonk.app website!

May I know how the reference documentation is generated? In the reference documentation, it is showing as `String` for all pa

[2020-08-06 15:30] #45 closed

[2020-08-06 23:04] victordiaz commented on #17
Hi all,

Since I moved MQTT to work asynchronously I had to change a tiny bit the API. The main problem was that the connection had to be established before subscribing to a topic.

I uploaded here the new example
[https://github.com/victordiaz/PHONK-examples/blob/master/examples/Network/MQTT/main.js](https://github.com/victordiaz/PHONK-examples/blob/master/examples/Network/MQTT/main.js)

which wi

[2020-08-06 23:09] victordiaz commented on #45
Hi @nikunjbhatt

Feel free to join this discord server so we can chat [https://discord.gg/Rt2mkWp](https://discord.gg/Rt2mkWp)
I'm sorry if there is things missing everywhere, I lack a bit of time to put everything nicely :)

Regarding the documentation. Is it generated with and older version of Java and I had a mess in my system since it updated Java and now the generator does not want to run :/

[2020-08-07 16:35] LukasEdl opened #72 "Customizable shortcut image"
**Is your feature request related to a problem? Please describe.**
I use PHONK for controlling devices connected over mqtt. I create a shortcut which calls a script that just connects to the mqtt broker and publishes a message. Currently the only differentiation is the text of the shortcut.

**Describe the solution you'd like**
When you create the shortcut or during the writing of the script, you

[2020-08-07 22:46] victordiaz commented on #72
Hi @LukasEdl
I just pushed a new version 1.2.9 with the possibility to add a custom icon.
You just have to include a `icon.png` inside the project and it should work.
In `examples/Graphical User Interface` the example `Styling & Theming` has an icon as a way to show how

[2020-08-07 22:47] victordiaz commented on #71
fixed in 1.2.9

[2020-08-07 22:47] #71 closed

[2020-08-07 22:47] victordiaz commented on #70
Hi @42loop
The version 1.2.9 should has an updated example + some fixes so the camera should work now

[2020-08-07 22:48] victordiaz commented on #68
Hi @SuperUserNameMan
The version 1.2.9 should fix the problem. Let me know if it works for you

[2020-08-07 22:53] victordiaz commented on #69
I modified a bit PHONK so now the script will launch with the same orientation as it was previously. It should improve the 4th point.
I think for the LibPd example I can modify it so it wont need the accelerometer :)

[2020-08-07 22:54] victordiaz commented on #43
Hi @elnezah
In the las release 1.2.9 PHONK launches scripts in the same orientation as it was previously, so it should improve the experience

[2020-08-08 10:52] LukasEdl commented on #72
Hi @victordiaz,
it works like a charm, thank you for implementing it.

I was thinking a little bit and was wondering if it would be even possible to change the icon within the script?

[2020-08-08 11:19] SuperUserNameMan commented on #68
Hello @victordiaz : yes it works ! :-)

![Screenshot_2020-08-08-13-13-47-542_io phonk extended](https://user-images.githubusercontent.com/9801802/89708695-9b6b6b80-d979-11ea-8522-25c143742b45.png)

[2020-08-08 11:19] #68 closed

[2020-08-08 11:33] victordiaz commented on #72
@LukasEdl nice to read :)
Do you mean changing the shortcut icon from the script? the icon in the list?

[2020-08-08 12:08] SuperUserNameMan commented on #69
@victordiaz :

yes it works :-)
Only the Processing example keeps displaying in portrait.

I don't know if there will be a lot of Android TV owners among the present and future PHONK! community. But I personally find it quite cool to know these deprecating Android TV will keep the potential to easily become a computer for a young (or older) programmer thanks to PHONK.

Regarding Android TVs or sma

[2020-08-08 12:40] SuperUserNameMan opened #74 "network.wifiScan() does not work with Android 9 / MIUI 11"
Hello again,

I tried the WifiScan example on my Xiaomi Redmi 7 (android 9 / MIUI 11 ), and it does not displays the list of network.

Some more tests shows that the ``network.wifiScan()`` function does not call the callback on this device.

I checked the permissions allowed to Phink! and they seems to be enabled for accessing the list of wifi network.

**Problem description**

network.wifiScan()

[2020-08-08 12:47] SuperUserNameMan opened #75 "ui.addTextList() : some lines are displayed in very small"
Hello again again,

By testing the WifiScan example on my Android 4.1.2 tablet, and on my Android TV 5.1.1, I've found out that some lines of the list of networks were displayed in very very small (unreadable).

After some more tests, it seems that it comes from ``ui.addTextList().add()``.

**Problem description**

Some lines of text in the ``ui.addTextList()`` list are extremely small and unreada

[2020-08-08 12:49] SuperUserNameMan commented on #75
![Screenshot_2020-08-08-14-49-25](https://user-images.githubusercontent.com/9801802/89710815-64e81d80-d986-11ea-8cd0-58832af1c53e.png)

[2020-08-08 12:57] SuperUserNameMan commented on #59
Oh this one is solved BTW !

[2020-08-08 12:57] #59 closed

[2020-08-08 14:53] LukasEdl commented on #72
I mean the icon of the shortcut

[2020-08-10 10:00] victordiaz commented on #72
Hi @LukasEdl
I was reading about it and it seems that you cannot change the icon with the official Android APIs, there are some tricks that works in certain android versions / launchers, so I think it would be a bit of headache to implement something that works half-way.

I'm thinking though that a solution would be to create a Launcher Widget that can list some desired scripts within. I think hav

[2020-08-10 10:02] victordiaz commented on #58
I think the memory leak should not be present any more, so I close this issue. LeakCanary though is still include it in PHONK as a way to see potential problems

[2020-08-10 10:02] #58 closed

[2020-08-10 10:03] victordiaz commented on #43
I close this issue since it is resolved

[2020-08-10 10:03] #43 closed

[2020-08-10 10:03] victordiaz commented on #66
I close this issue since it is resolved

[2020-08-10 10:03] #66 closed

[2020-08-10 10:06] victordiaz commented on #63
Hi @Krugergit
There is no way in Android to turn on the airplane mode on/off

If you root your device you could execute some shell code as explained in the first answer in this StackOverflow question
[https://stackoverflow.com/questions/13766909/how-to-programmatically-enable-and-disable-flight-mode-on-android-4-2](https://stackoverflow.com/questions/13766909/how-to-programmatically-enable-and-dis

[2020-08-10 10:06] #63 closed

[2020-08-10 10:08] victordiaz commented on #74
Hi @SuperUserNameMan
Could you check in another device? Does it give any error?

[2020-08-10 14:09] SuperUserNameMan commented on #74
Hello @victordiaz :

I get no error with this device.

It works with my Android 4.1.2 tablet, and with my Android TV 5.1.1 tv.

[2020-08-13 17:26] EuphoricPenguin opened #76 "Missing ; after statement"
`let a = 2;` results in a ASI error where the code won't run, meaning variables are effectively useless. This happens with `var` as well, and seems to happen from a numerated "run" of the code. I'm running a Pixel 4 on the latest stable release of Android 10. I installed the latest extended release of PHONK, and ran into this issue.

[2020-08-13 17:28] LukasEdl commented on #72
Hi @victordiaz
The use of Widgets would be awsome, since it would be perfect for my use case and probably usefull for other use cases.

I'm gonna close the ticket since its original feature request was implemented.

[2020-08-13 17:28] #72 closed

[2020-08-13 17:32] victordiaz commented on #76
Hi @EuphoricPenguin

let is not supported since the Rhino Javascript interpreter does run modern jacascript (ie ES6).
With var should works perfectly.
What is the issue that you are facing with var?

[2020-08-13 17:33] EuphoricPenguin commented on #76
Identical issue.

[2020-08-13 17:37] victordiaz commented on #76
There is this issue describing the problem with the current interpreter.

https://github.com/victordiaz/PHONK/issues/4

Feel free to join the discussion there :)

[2020-08-17 12:09] thejeshgn opened #77 "Crash when trying to export as .phonk file"
It's an user Project. It crashes when trying to export as .phonk file.  The app closes.

**Device model**
ASUS
Model : ASUS_X01BDA

**Android version**
9

**Steps to reproduce the bug**
Export the project as .phonk file.

[2020-08-19 13:11] victordiaz commented on #77
Hi @thejeshgn
I'll have a look, thanks!

[2020-08-26 04:02] thejeshgn opened #78 "Tasker integration"
Add ability to send and receit data from Tasker. Phonk can look like a plugin for Tasker.

[2020-08-26 10:08] victordiaz commented on #78
Hi @thejeshgn
Just out of curiosity, what uses cases can you see?

[2020-08-26 16:45] Ulugbeg opened #79 "Looper.speed() doesn't reset if it has expired after setting a new value"
Looking at the sourcecode at https://github.com/victordiaz/phonk/blob/master/phonk_apprunner/src/main/java/io/phonk/runner/apprunner/api/other/PLooper.java#L85-L86:

[code]

It seems as if this code doesn't do what it's intended to do; the condition on line 86 will never be true due to, well, line 85 :)

Love the project!

[2020-08-27 07:16] victordiaz commented on #79
Hi @Ulugbeg
I really don't know what I was thinking when I wrote that code :) Fixing it ASAP.

Thanks!

[2020-08-28 10:59] victordiaz commented on #75
mm, strange! :/ I'll have a look

[2020-09-06 12:19] thejeshgn commented on #78
I have couple of scenes in Tasker. In one of them I wanted to trigger a script in Phonk

[2020-09-30 13:04] ae3e opened #81 "Add headers to http requests"
I have a web request with basic authentication so I need to had `Authorization : ` header

[2020-10-01 11:05] victordiaz commented on #81
Hi @ae3e
Im happy to add the option to add the headers.
Could you help me providing a backend code or site where I could test it against?

[2020-10-02 08:59] ae3e commented on #81
Thanks for your quick answer.
You could use [Posman-echo](https://postman-echo.com) to test any web requests.
More specifically, you can test [headers](https://docs.postman-echo.com/#5d3595b3-5e8e-9e33-05ed-855c77298e4e) and [basic authentication](https://docs.postman-echo.com/#42c867ca-e72b-3307-169b-26a478b00641).

[2020-10-04 10:24] victordiaz commented on #81
Thx for pointing me to that service. Superuseful!
I had a look already and it's working.

I'll upload tonight a testing version with a more generic HTTP request function :)

[2020-10-04 19:28] LukasEdl opened #82 "Mqtt: Enhanced error logs"
**Is your feature request related to a problem? Please describe.**
I am currently working with the mqtt client and I ran, where i can't connect to a mqtt server.  I wanted to display the problem, however if i use the provided `onError` function, I only get an object like `{ "status": "error" }`.

**Describe the solution you'd like**
It would be nice, if the error message would contain more informa

[2020-10-05 07:41] ae3e commented on #81
Thanks a lot!
I never compiled PHONK by myself so I'll wait for your next release to test it (unless it takes too long... i'll try compiled it! 😉)

[2020-10-05 20:42] victordiaz commented on #78
Hi @thejeshgn

I remembered we can launch PHONK scripts using an intent.
For example in ADB we can do something like

[code]

To launch the script "My Project" inside the "User Projects" folder. Have in mind that I'm using the "extended" version, if you use the normal one you should write `io.phonk` rather than `io.phonk.extended`.

If you want to translate this to Tasker, you can use the Send Int

[2020-10-05 20:44] victordiaz commented on #82
Hi @LukasEdl
I created a new release with the changes. https://github.com/victordiaz/PHONK/releases/tag/1.3.1

Could you check if that's what you expected? Thx!

[2020-10-05 20:46] victordiaz commented on #81
Hi @ae3e
I uploaded a release here https://github.com/victordiaz/PHONK/releases/tag/1.3.1
You can try the following code

[code]

Let me know if does work for you :)

[2020-10-05 21:02] victordiaz commented on #79
I think this issue was resolved, please feel free to reopen it the problem still exists :)

[2020-10-05 21:02] #79 closed

[2020-10-06 14:03] ae3e commented on #81
Thanks,
I just tested it with some home automation devices that need authentication and it works perfectly!
You're really doing a great work! 👍

[2020-10-06 14:03] #81 closed

[2020-10-06 20:34] LukasEdl commented on #82
Hi @victordiaz,
yes this was exactly what i wanted, thanks for adding it.

[2020-10-06 20:34] #82 closed

[2020-10-14 00:01] jacksonmgoode opened #84 "Compiling external libraries for LibPd?"
Hi there,

Fantastic project - really nothing like it at the moment for getting Pure Data patches on a mobile device with ease (no OSC pass-thru some other app).

I was curious, however, if it would be possible to build PHONK with additional externals for Pd? I know it's possible through LibPd, ("EXTRA=true" as a Makefile option). It would be really interesting to see just how difficult this would

[2020-10-14 07:43] victordiaz commented on #84
Hi @jacksonmgoode

I would be happy to include more externals with PHONK.

At the moment, I'm using the libpd hosted in the maven repo as stated in this gradle file `https://github.com/victordiaz/PHONK/blob/master/phonk_apprunner/build.gradle`

Do you know if I have to compile from source to include externals? or can externals maybe be loaded on demand?

[2020-10-14 08:05] jacksonmgoode commented on #84
I believe they can be loaded on demand. I've been working on a [Bela](https://bela.io/) which is basically a glorified single-board computer - but adding externals is possible by simply compiling for the ARMv7 architecture and then dragging them into a specified folder.

I imagine that compiling the externals would be something an advanced user could manage - it's just a matter of uploading them s

[2020-10-14 12:26] victordiaz commented on #84
I will have a look on that possibility.
Do you know a bit of Android? Could you set up an Android LibPd environment to compile a couple of externals so we can try?

[2020-10-21 17:22] jacksonmgoode commented on #84
I've only had some experience compiling for an Arduino (Bela), I'm not sure what the process would be like for Android - or what the architecture is like. Is there a tutorial somewhere I could follow?

[2020-11-03 17:44] ae3e opened #85 "Can't create more than one shortcut to home screen"
I have multiple scripts in PHONK app.
I can create one shortcut from any script to home screen. If I try to create a new shortcut, nothing happens. If I delete the existing shortcut then I'm able to create a new one from any script.

Is it not possible to create multiple shortcuts from different scripts?

I didn't find anything in logs.
Using PHONK extended and Android 5.1.1

[2020-11-06 08:10] victordiaz commented on #85
Hi @ae3e
It seems that with newer versions is possible. I tried with Android 10 and you can create more than 1 shortcut.
I will check an older version during the weekend and see why it does not work.

Thanks for reporting it!

[2020-11-15 09:22] ae3e opened #86 "Phonk doesn't start when set a launch script"
If i set a launch script in the settings, Phonk doesn't start any more and I get the following logs (I tried with a script having the `background_service` option set to true in `app.conf` and an another script with no `app.conf` file).

When Phonk doesn't start anymore, I can make it work again by edtiting the `settings.conf` file and remove the launch script.

[code]

[code]

Using PHONK 1.3.1_ex

[2020-11-16 18:03] victordiaz commented on #85
Hi @ae3e,
I just tried this in an emulator with Android 5.1 and I can create as many shortcuts as wanted without issues
A couple of questions to investigate this

1) are you using a custom launcher?
2) do you use stock android?
3) can you try to add a script with a strange name? :)
4) What is your device model?

Thanks!

[2020-11-16 18:05] victordiaz commented on #86
Thanks for sharing this.
I have a few ideas of why it might not be working, I'll take this opportunity to add improve a bunch of stuff regarding the background services and so on.
I expect to release a new version by the end of this week and hopefully this will be fixed too :)

[2020-11-17 09:54] ae3e commented on #85
Hi,

Thanks for your answer. Sorry to see that is related to my device config...
1. No
2. No
3. Tried some strange names (ie $45-ed#fR56) : scripts are created and ran but still can't create multiple shortcuts
4. [Wiko pulp fab 4G](https://world.wikomobile.com/m902-pulp-fab-4g) with factory defaults (Cheap and not common phone, I guess 😕 )

I never used Android Studio but I can try some debugging

[2020-12-12 21:32] ae3e commented on #85
So I finally moved to a more recent device.... with Android 10.
Now, mutliple shortcuts work perfectly fine...

[2020-12-12 21:32] #85 closed

[2020-12-12 21:40] ae3e opened #88 "Permission to allow location acces with background scripts"
Since Android 10, it looks like there's a specific permission for apps that run in background and need access to location :

[ACCESS_BACKGROUND_LOCATION](https://developer.android.com/about/versions/10/privacy/changes)

So unfortunately, one of my phonk's scripts is not working anymore after I migrated from android 5 to android 10. Would it be possible to add this new permission ?
Thanks

[2020-12-13 22:00] victordiaz commented on #88
Sure! I can add the permission.
I can create a 1.3.2 release tomorrow with the new permission so you check if it works.

I will ping you here once done :)
Thanks!

[2020-12-20 23:46] Slord6 opened #89 "Internal PNetwork.httpPost method not found"
**Problem**
Calls to network.httpPost fail with console error: `The Method 'io.phonk.runner.apprunner.api.PNetwork.httpPost(string,object,function)' is not found`

**Device model**
Blackberry KeyOne

**Android version**
8.1.0

**Steps to reproduce the bug**
Run the `examples/Network/HTTP POST` example script

[2020-12-22 15:50] victordiaz commented on #89
Hi @Slord6,

Which version of PHONK are you using?
In version 1.3.1 the http request functions were improved. Just make sure that your examples and/or scripts are updated in Settings -> Reinstall examples.

Can you check if that solves the problem?
I apologize if the examples updating process is not very streamlined yet

[2020-12-22 20:06] Slord6 commented on #89
Hey, I've just done a fresh install from the play store to ensure I have the most up-to-date version but the 'About' section in the app's settings lists the version as `1.3.0_normal`. I'm still seeing the same issue, and the example scripts look the same - should I be seeing version 1.3.1 on the play store?

Also, as an aside, post re-install the app got into a bit of a weird state where it would

[2020-12-22 20:21] victordiaz commented on #88
Hi @ae3e

I uploaded a new version 1.3.2 here https://github.com/victordiaz/PHONK/releases/tag/1.3.2
The permission is added, probably you will have to allow it from the Android Settings (there is a shortcut from PHONK settings now). Let me know if does work for you since I didnt try out myself :)

[2020-12-22 20:56] victordiaz commented on #89
Oh! totally my bad. I forgot to upload 1.3.1 to the playstore 😅

Im uploading it as we speak (its in review now)

Btw, I just released 1.3.2 which you can find it here https://github.com/victordiaz/PHONK/releases/tag/1.3.2
This new version will take some time to get it in the playstore. It seems that Google changed some policy stuff regarding a permission I just added here because https://github.c

[2020-12-23 20:03] Slord6 commented on #89
Thanks @victordiaz, got the update installed and am now seeing the updated example script with the new method call.

However, if I create a new project and copy/paste the example http post code, I get an `okhttp3.internal.http2.ConnectionShutdownException` .

Full code, for clarity (but it's exactly the same as the example from what I can tell, and that runs fine):
[code]

[2020-12-23 20:10] victordiaz commented on #89
Hi @Slord6
Thanks for reporting the issue. I just replicated your steps and what I suspect is that when you copied the example to a different project. the file "patata.png" was not included and the error message is not quite meaningful.

Try to remove the following line and let me know if it works
` { 'name': 'userfile', 'content': 'patata.png', 'type': 'file', 'mediaType': 'image/png' }`

I'll tr

[2020-12-23 20:14] Slord6 commented on #89
Ah, yes - of course! Thanks!

[2020-12-23 20:14] #89 closed

[2020-12-23 20:16] victordiaz commented on #89
I'm crrating a new issue with the feedback you gave me :)

[2020-12-23 20:20] victordiaz opened #91 "httpRequest method not giving proper feedback when trying to upload a non-existing file"
**Problem description**
Discovered this issue through https://github.com/victordiaz/PHONK/issues/89

**Steps to reproduce the bug**
Copy the HTTP Post content to a different project (without the .png file) and execute

[2020-12-23 20:27] Slord6 commented on #91
Closely related; if the data structure for the data of a http request is missing the `name`, `data` or `type` property the script crashes with no error to the console. Example:

[code]

[2020-12-23 20:38] victordiaz opened #93 "RFC: Android 11 compatibility"
**Problem description**
Android 10 and more strictly Android 11 introduced a bunch of limitations to access the external storage, which by the way is where PHONK stores the user projects.

Storing in the external storage gave PHONK a bunch of advantages such as:
- Easy file handling
- Enabling the user to uninstall and install PHONK without loosing the projects
- Accessing PHONK's projects from an

[2020-12-23 21:42] Slord6 opened #94 "Add allowing generic HTTP POST body"
As per discussion #92 , it would be useful to be able to have control over the full body of HTTP POST requests.

For example, I have a simple [HTTP wrapper](https://github.com/Slord6/generic-data-store) around a JSON-backed database, which expects POST requests to contain only the data to be added to the database. At the moment it is therefore not possible to POST data with Phonk to that end-point

[2020-12-24 02:14] victordiaz commented on #94
@Slord6 I uploaded a new version here for you to test https://github.com/victordiaz/PHONK/releases/tag/1.3.3pre
Let me know how it goes :)

[2020-12-24 08:33] Slord6 commented on #94
That's working great. Thanks!

[2020-12-24 14:53] ae3e commented on #88
Thanks for this extra Christmas gift! 🎁 😄
Just tested and it works well as before!

[2020-12-24 14:53] #88 closed

[2021-01-20 09:12] SeriousM commented on #93
As far as I know you can opt for special folders as long as they're not wildcard.
Otherwise you could offer a way to sync the files via GoogleDrive (hidden storage) or by using a simple Google Firebase User Authentication plus file storage.

[2021-01-29 19:43] SeriousM commented on #94
Is there any chance to get a new release with this enhancements included?

[2021-01-29 19:52] Slord6 commented on #94
I think it was already released. In 1.3.1 looking at the release notes. My last use of it looks like:

[code]

[2021-01-29 22:35] victordiaz commented on #94
it should work on 1.40 too unless I screwed up at some point upgrading stuff :)

@Slord6 btw thx! you just made me realize with your code that at some point Mozilla Rhino interpreter got fat arrows and const!!!!
I didnt know at all!.
On top of that I just realized that toggling a flag we can finally have `let` and destructuring support :)

I'll release a new version during the weekend, thx for sha

[2021-01-29 23:16] Slord6 commented on #94
Oh nice, it hadn't even occurred to me they weren't supported so glad it's helpful!

[2021-01-30 07:52] SeriousM commented on #94
@victordiaz thanks for looking into it.

In v1.3.3pre I had the option to use
[code]

but with v1.4.0 I get the error `java.lang.IllegalArgumentException: method POST must have a request body.` as with previous versions.

I hope you can include the specific code in the upcoming version!
Thank you very much for this wonderful framework :)

[2021-01-30 11:45] victordiaz commented on #94
@SeriousM you are right, it does not work currently. It seems I didnt merge properly :sweat_smile:
I'll try to upload a new version today or tomorrow fixing the issue.

[2021-03-17 09:59] 42loop commented on #86
while trying the launch script feature I still experience that phonk does not start any more - also i can't find documentation on the format of the string describing the script to be launched.
actually i was looking for a way to run phonk with a certain script on phone boot, so a student of mine could use it in an exhibition project. any ideas on this ?

[2021-03-17 10:27] 42loop commented on #86
just found the "launch on device boot" option, but for me it does not work ...

[2021-03-17 11:29] victordiaz commented on #86
I had already some work on fixing the original issue but didn't find the time to complete the fix :sweat_smile:
I'll have a look ASAP :)

[2021-03-23 13:20] 42loop commented on #86
note: "launch on device boot" works on old android 5.1 phones, but not on android 10.
unfortunately i do not have others to test

[2021-03-23 19:54] victordiaz commented on #86
I've been working on the issue and things are shaping nicely, I just need a bit of time to do the final touches.

- @42loop Apparently Android changed some internals and now to launch an app on boot requires a permission that has to be enabled by the user manually. I think is called  "draw on top of apps" permission.
In the new PHONK version the app will redirect you to the settings in Android so

[2021-04-01 09:43] 42loop opened #99 "certificate expired"
the ssl certificate on https://phonk.app has expired

[2021-04-01 10:28] victordiaz commented on #99
@42loop thx for letting me now. For some reason the automatic certification update stopped working :/ I think it should be ok again!

[2021-04-02 14:41] victordiaz commented on #86
The freshly baked version [1.4.2](https://github.com/victordiaz/PHONK/releases/tag/1.4.2) has some improvements regarding this issue. It took some time! :sweat_smile:
Feel free to try it out and let me know if it works in your devices :)

[2021-04-06 09:05] 42loop commented on #86
'launch on device boot' unfortunately still does not work:
- on android 10 Go the 'draw on top of other apps' is not available any more
- on android 9 it also does not work - but i don't know how to debug to find out why

[2021-04-06 10:10] 42loop opened #101 "orientation: app.conf"
use case: have a osc controlled videoplayer in fullscreen landscape orientation

as soon as i use an app.conf file to set orientation & fullscreen, my video player shows the first frame, is even controllable by the osc client (sound plays) but videoplayer image never gets updated

there is some suspicious bogus code in AppRunnerActivity.java at line 170:
[code]
while orientationChanged is set to f

[2021-04-07 12:56] 42loop opened #102 "screen always on"
screen always on option does not work while running scripts:

see AppRunnerActivity.java, line 108:
```private boolean mSettingScreenAlwaysOn;```
defaults to false,
never gets changed but line 203:
```setScreenAlwaysOn(mSettingScreenAlwaysOn);```

[2021-04-10 22:50] #99 closed

[2021-04-10 23:00] victordiaz commented on #101
I just had a quick check and fullscreen+landscape video works for me.
I took the `examples/media/Video` and added the same app.conf from `examples/Advanced/App Config` and changed the `orientation` property to `landscape`.

Android sometimes is a bit picky with the video encoding format and sizes. Could you try maybe with some of the file formats listed here? https://developer.android.com/guide/to

[2021-04-10 23:07] victordiaz commented on #102
I think this line in your script should do the job. Let me know if it works for you.
```device.screenAlwaysOn(true)```

Better documentation is still a pending thing :sweat_smile:

[2021-04-10 23:21] victordiaz commented on #86
I tried on android 8 and android 11 using PHONK 1.4.2 and works on both.

**Steps:**
I went to Settings > Script Launch on device Boot, selected a Project. Then rebooted the device. After unlocking the first time the selected script launches.

Maybe if somebody else could try it, we could find out what's going on.

[2021-09-19 15:24] dr-NHA opened #106 "TOOLBOX"
**Is your feature request related to a problem? Please describe.**
Sorta. Without A Toolbox Its Hard To See On The Mobile Script Screen Whats Do Able

**Describe the solution you'd like**
I'm Making A Little Executor Project For Win 10 I Can Send SC's Of My Toolbox

**Describe alternatives you've considered**
I Can Always Edit This And Make It Have The Toolbox

**Additional context**
Dm Me Or What

[2021-11-05 16:58] akvadrako commented on #99
It's not okay again.

[2021-11-23 09:08] Shibaditya99 opened #108 "Sending Byte arrays through BLE"
Hi sir,  I'm working with BLE devices with PHONK. It's an extreamly good platform. I can read / write to any BLE device. I'm facing a problem i.e. there is a device which is needed to receive a specific byte array via my android device to start. But in the PHONK's 'bleClient.write()' function allows string version of the data to write. I saw,  this function convert the string value to bytes and se

[2021-11-25 10:25] jayrope opened #109 "Site: phone.app - certificate expired on 11/10/2021"
Just FYI: https://phonk.app/ neds new certificate.

[2022-01-11 16:36] 42loop commented on #109
Just FYI: https://phonk.app is now offline

[2022-03-17 10:44] #108 closed, assigned to nobody

[2022-05-06 21:33] polhomarkho commented on #109
https://phonk.app/ seems to be up and has a valid certificate 🎉
glad to see it's not dead 😊

[2022-05-31 20:09] t-oster opened #113 "No example for sms send/receive"
Hi,
Nice app. Unfortunately I cannot find any information regarding the SMS API. I want to build a simple SMS to MQTT gateway (bidirectional), which should be very easy with Phonk. Can you point me to the docs or the sources with the SMS functionality?

[2022-06-01 05:15] polhomarkho commented on #113
Hi!

The SMS functions are defined here `phonk_apprunner/src/main/java/io/phonk/runner/apprunner/api/PDevice.java`: `device.onSmsReceived()` and `device.smsSend()`.
Here is a small example that sends and receives a SMS. The phone number is asked when running:

[code]

[2022-06-13 13:48] victordiaz commented on #109
Thanks all for this, I've been a bit busy catching up with life and family so did not have much time for PHONK. But I'm trying catch up now :)

[2022-06-13 13:48] #109 closed, assigned to nobody

[2022-06-16 08:29] victordiaz opened #117 "vertical slider and midi device examples"
Hi @polhomarkho,
As you can see I just updated the repo, merging the examples and web editor repositories.
I also took the time to upgrade a bit the web editor with newer libraries so things look less scary when compiling the project :)

So right now you can find the examples in this folder:
https://github.com/victordiaz/PHONK/tree/develop/PHONK-examples

If you could add the vertical slider and t

[2022-06-29 06:53] polhomarkho commented on #113
Here is the PR adding this example: https://github.com/victordiaz/PHONK/pull/119

[2022-06-29 06:54] polhomarkho commented on #117
Hi Victor! Here is the PR for these examples: https://github.com/victordiaz/PHONK/pull/119

[2022-08-06 06:06] gtusr commented on #20
Any progress yet on this front?

[2022-08-08 20:56] victordiaz commented on #20
Hi @gtusr

Not really. I fixed some stuff to better run background scripts like a year ago but thats all.
In theory lots of things could be done already. Is there something specific that you would like to do?

[2022-08-09 14:33] shalva97 opened #121 "Can not access the webpage"
*Try to add information such as (if possible)*
Installed the apk from Github releases. It does show "Web editor running"

**Problem description**
the website does not load, tried with Firefox and shows "The connection timed out", also tried with stock Browser and shows same error

**Device model**
Xiaomi Mi 10T - Lineage OS 19

**Android version**
12

**Steps to reproduce the bug**
open the app an

[2022-08-09 14:38] shalva97 opened #122 "getting started link on README does not work"
*Try to add information such as (if possible)*
https://github.com/victordiaz/PHONK/blob/60b432027036c37cc98ae0d1db18a752baf9d417/README.md?plain=1#L40

**Problem description**
The link show in the pic returns 404

[2022-08-09 15:15] rerpha commented on #122
closed by https://github.com/victordiaz/PHONK/pull/120

[2022-08-09 16:05] victordiaz commented on #121
Hi @shalva97
Could you check if any of this work for you?

1) Stop then re start the server.
2) Ping the phone from your computer and see if its reachable. If you are in a public network maybe the ports are closed?
3) Reboot the phone. it has happened to me a few times.
4) You can also try to create a hotspot from the phone, connect your computer to the phone and reach it.
5) Another possibility i

[2022-08-11 01:05] gtusr commented on #20
I was just wondering if PHONK could someday become a replacement for Tasker since PHONK can already respond to various "profile triggers," as demonstrated on the project homepage.

I'm not familiar enough yet with the Android framework to estimate how much work would be required to re-create a "Tasker-like" engine that could manage several profiles simultaneously for the user in the background, bu

[2022-08-11 09:36] #122 closed, assigned to nobody

[2022-08-11 09:50] victordiaz commented on #20
I think lots of things can be done already.

For example mixing this 3 examples:

1) create a background running script with this https://github.com/victordiaz/PHONK/tree/develop/PHONK-examples/Advanced/Background%20App
2) Get the battery status with this https://github.com/victordiaz/PHONK/tree/develop/PHONK-examples/Device/Info
3) And depending on the battery status you could send a MQTT message

[2022-09-09 20:55] victordiaz commented on #48
I think this should be working so I will close it for now

[2022-09-09 20:55] #48 closed

[2022-09-09 22:29] bilogic opened #125 "Voice recognition without the recognizer's UI"
**Is your feature request related to a problem? Please describe.**
Yes, Google Voice Recognition takes over the interface after clicking on the button for voice recognition

**Describe the solution you'd like**
I would like the google interface not to show.

Ideally, it should behave like Whatsapp voice messages, user will have to hold down the button while speaking, once released, the sound then

[2022-09-24 01:10] gtusr opened #129 "Is it possible in PHONK to create a transparent widget that hovers over other activities ..."
... and does not cover the entire screen, where different actions have been assigned to different regions of the widget?

On a more general note, does PHONK support building up activities from fragments, defining and running content service providers, broadcast receivers, and background services for full-suite Android application development?

The project's website and the remote IDE interface are

[2022-09-24 19:49] victordiaz commented on #129
Hi @gtusr
I think that what you are trying to achieve is not possible with PHONK.

PHONK is a different tool than Android Studio + Android SDK and it does not focus on creating full complex apps. If you want to do complex stuff I recommend you to use the normal path to develop apps.

[2022-09-24 19:49] #129 closed, assigned to nobody

[2022-09-24 19:50] victordiaz commented on #125
Hi @bilogic,
I think I added that possibility some time ago but I have to check if is still working :) I will ping you in a couple of days.

Thanks and all the best!